
<div class="col-12 pt20 inline">
  <deda-link 
        [href]="'https://www.google.es/'"
        [text]="'go to google'"
        [download]="''"
        [ping]="''"
        [referrerpolicy]="'no-referrer'"
        [target]="''"
        [type]="''"
        [title]="''"
        [rel]="''"
        [media]="''"
        [hreflang]="''"
        [name]="'Link'"
        [translate]="false"
        [tabindex]="0"
        [style]="{}"
        [spellcheck]="false"
        [lang]="'everisapp'"
        [id]="''"
        [hidden]="false"
        [draggable]="false"
        [direction]="'ltr'"
        [contenteditable]="false"
        [class]="''"
        [accessKey]="''"
        [numColumns]="12"
  ></deda-link>
  </div>
